chip STM32H753ZI
target-triple thumbv7em-none-eabihf
probe-rs-name STM32H753ZI

compatible {
    - STM32H753ZI
    - STM32H753
    - STM32H7
    - arm-cortex-m7
}

vector-table-size 0x294

memory {
    region vectors {
        base 0x0800_0000
        size 0x2EC // needs to be 0x58(?) larger to accommodate header
        read
    }
    region flash {
        base 0x0800_02ec
        size 0x0ffd14 // 1024kiB - 0x2EC
        read
        execute
    }
    region ram {
        base 0x2000_0000
        size 0x20000 // 131072
        read
        write
    }
    region sram1_mac {
        // Network buffers are placed in sram1, which is directly accessible by the
        // Ethernet MAC.  We limit this use of sram1 to 64 KiB, and preserve the
        // remainder to be used for disjoint purposes (e.g., as an external region).
        base 0x30000000
        size 0x10000
        read
        write
        dma
    }
    region sram1 {
        base 0x30010000
        size 0x10000
        read
        write
        dma
    }
    region sram2 {
        base 0x30020000
        size 0x20000
        read
        write
        dma
    }
    region sram3 {
        base 0x30040000
        size 0x8000
        read
        write
        dma
    }
    region sram4 {
        base 0x38000000
        size 0x10000
        read
        write
        dma
    }
    region bank2 {
        base 0x08100000
        size 0x100000
        read
        write
        dma
    }
}

peripheral rcc {
    base 0x58024400
    size 1024
}

peripheral gpios {
    base 0x58020000
    size 0x4000
}

peripheral spi1 {
    base 0x40013000
    size 1024
    irq irq 35 
}

peripheral spi2 {
    base 0x40003800
    size 1024
    irq irq 36 
}

peripheral spi3 {
    base 0x40003c00
    size 1024
    irq irq 51 
}

peripheral spi4 {
    base 0x40013400
    size 1024
    irq irq 84 
}

peripheral spi5 {
    base 0x40015000
    size 1024
    irq irq 85 
}

peripheral spi6 {
    base 0x58001400
    size 1024
    irq irq 86 
}

peripheral syscfg {
    base 0x58000400
    size 1024
}

peripheral exti {
    base 0x58000000
    size 1024
    irq exti0 6
    irq exti1 7
    irq exti2 8
    irq exti3 9
    irq exti4 10
    irq exti9_5 23
    irq exti15_10 40
}

peripheral usart1 {
    base 0x40011000
    size 1024
    irq irq 37 
}

peripheral usart2 {
    base 0x40004400
    size 1024
    irq irq 38 
}

peripheral usart3 {
    base 0x40004800
    size 1024
    irq irq 39 
}

peripheral uart4 {
    base 0x40004c00
    size 1024
    irq irq 52 
}

peripheral uart5 {
    base 0x40005000
    size 1024
    irq irq 53 
}

peripheral usart6 {
    base 0x40011400
    size 1024
    irq irq 71 
}

peripheral uart7 {
    base 0x40007800
    size 1024
    irq irq 82 
}

peripheral uart8 {
    base 0x40007c00
    size 1024
    irq irq 83 
}

peripheral i2c1 {
    base 0x40005400
    size 1024
    irq event 31
    irq error 32 
}

peripheral i2c2 {
    base 0x40005800
    size 1024
    irq event 33
    irq error 34 
}

peripheral i2c3 {
    base 0x40005c00
    size 1024
    irq event 72
    irq error 73 
}

peripheral i2c4 {
    base 0x58001c00
    size 1024
    irq event 95
    irq error 96 
}

peripheral quadspi {
    base 0x52005000
    size 4096
    irq irq 92 
}

peripheral eth {
    base 0x40028000
    size 0x2000
    irq irq 61 
}

peripheral hash {
    base 0x48021400
    size 4096
    irq irq 80 
}

peripheral system_flash {
    base 0x1FF00000
    size 0x20000
}

peripheral rng {
    base 0x48021800
    size 4096
}

peripheral flash_controller {
    base 0x52002000
    size 0x2000
    irq irq 4 
}

peripheral tim16 {
    base 0x40014400
    size 0x400
    irq irq 117 
}

peripheral dbgmcu {
    base 0x5C001000
    size 128 // 96 bytes of actual data, rounding up to a power of two
}

// peripheral cryp {
//     base 0x48021000
//     size 4096
// }

// Control registers for the memory controller, _not_ the memory itself.
peripheral fmc {
    base 0x52004000
    size 0x1000
}

// NOTE: this defines the chunk of memory used for memory-mapped peripherals,
// like we do for certain FPGAs.  You should not use it directly; instead, use an
// `fmc` configuration block in your manifest to generate fine-grained memory
// regions for each memory-mapped peripheral, based on the FPGA's top-level
// peripheral map.
//
// This is also NOT the right way to use FMC-attached devices as RAM! For that
// you probably want an extern-region instead. Why, you ask? Because this is a
// peripheral mapping, and will set up this section of the address space as
// bypassing the cache, not coalescing stores, and so forth. This is what you
// want for memory mapped registers; it is _not_ what you want for RAM, at least
// if you want performance to be halfway reasonable.
peripheral fmc_nor_psram_bank_1 {
    base 0x60000000
    size 0x10000000
}
